.dashboardSection {
	display: grid;
	grid-template-columns: 2fr 1.5fr;
	gap: 1em;
	margin-bottom: 2em;
}

.randomizer > div {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.randomIdea {
	display: flex;
	flex-direction: row;
}

.randomIdea p {
	flex: 1;
}

.randomHarmony {
	display: flex;
	padding-inline-start: 0;
	border-radius: 0.5em;
	overflow: hidden;
	width: 100%;
	border: solid 1px var(--light2);
}

.colorSwatch {
	flex: 1;
	list-style: none;
	aspect-ratio: 2 / 1;
}

/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
	.dashboardSection {
		grid-template-columns: 1fr;
	}
}
