.grid {
	display: grid;
	gap: 0.8em;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
}

.grid > :nth-child(3n + 2) {
	margin-top: 6em;
}

.grid > :nth-child(3n + 3) {
	margin-top: 2em;
}

.hover:hover {
	transform: rotate(1deg);
	scale: 1.01;
}

.card {
	aspect-ratio: 8.8 / 10.7;
}

.eventImg {
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 1 / 1;
	filter: sepia(40%) contrast(80%);
	border-radius: 0.5em;
}

.cardDetails {
	margin: 1em 0;
}

.tags {
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.tag {
	border-radius: 0.4em;
	font-size: 0.8em;
	letter-spacing: 1px;
	padding: 0.2em 0.8em;
	background: var(--accent2);
	color: var(--text3);
}

.notes {
	color: var(--text3);
	font-style: italic;
}

.price {
	font-weight: bold;
	font-size: 1.2em;
}

.date {
	font-size: 1.1em;
	color: var(--bg4);
}

.location {
	font-size: 0.9em;
}

.cardBtns {
	margin-top: auto;
	width: 100%;
	display: flex;
	gap: 0.5em;
}

.cardBtns > * {
	flex: 1;
}

#eventDetailsBtn,
#backBtn {
	background: var(--accent3);
	color: var(--text2);
	text-decoration: none;
}

#eventSaveBtn {
	background-color: var(--accent4);
}

#eventSaveBtn.saved {
	background-color: var(--bg5);
	color: white;
}

/* -------------------------------------------------------------------------- */
.event-detail {
	padding: 3em;
	flex-direction: row;
	gap: 1.5em;
	align-items: normal;
}

.event-detail > * {
	flex: 1;
}

.event-detail > .cardDetails {
	margin: auto;
	display: flex;
	gap: 0.5em;
	flex-direction: column;
	justify-content: space-around;
}

.event-detail > .cardDetails > .cardBtns {
	margin-top: 1em;
}

/* -------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
	.event-detail {
		flex-direction: column;
	}

	.event-detail > .cardDetails {
		margin: 0;
	}

	.grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}

	.grid > :nth-child(3n + 2) {
		margin-top: 0;
	}

	.grid > :nth-child(3n + 3) {
		margin-top: 0;
	}
}
