.loginPage {
	display: flex;
	min-height: 500px;
	height: 100vh;
	max-width: 100%;
	padding: 0;
}

.leftPane {
	flex: 1.5;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("/src/assets/img/bianca-fazacas-kVtJBTRvWQA-unsplash.jpg");
	background-position: 50%;
	background-size: cover;
}

.rightPane {
	background-color: var(--light1);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em;
	color: var(--dark1);
}

.loginPanel {
	width: 550px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--solid);
	border-radius: 1em;
	padding: 3em;
}

.loginTop {
	margin-bottom: 1.5em;
	text-align: center;
}

.loginTop h1 {
	margin-bottom: 0;
}

.loginTop p {
	color: var(--dark2);
}

.loginPanel a {
	color: var(--orange1);
}

.loginPanel form {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.loginPanel input {
	margin-top: 0.2em;
	width: 100%;
	padding: 1em;
	font-family: inherit;
	font-size: 0.9em;
	border-radius: 0.5em;
	border: var(--light3) solid 1px;
}

.register {
	margin-top: 1.5em;
	text-align: center;
}

.credentials {
	margin: auto;
	text-align: left;
}

.loginMsg {
	margin-top: 1em;
	color: var(--dark2);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.loginBtn {
	padding: 1em 1em;
	margin-top: 1em;
}

/* -------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
	.leftPane {
		display: none;
	}

	.loginPanel {
		width: auto;
		padding: 1em;
	}
}
